<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Donimo's</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<!-- header (navbar) start -->
		<header>
			<nav class="navbar">
				<a href="{{ url_for('main') }}">PIZZAS</a>
				<a href="{{ url_for('snacks') }}">SNACKS</a>
				<a href="{{ url_for('drinks') }}">DRINKS</a>
				<a href="{{ url_for('customize') }}">CUSTOMIZE PIZZA</a>
			</nav>
		</header>
		<!-- header (navbar) end -->
		<div class="divider"></div>
		<main>
			<h1 style="opacity: 0">...</h1>
			<h1>Hello!</h1>
			<h1 style="opacity: 0">...</h1>
			<!-- menu grid start -->
			<div class="grid_2-3">
				{% for pizza in data %}
				<div class="item-pizza">
					<img
						src="{{ url_for('static', filename='images/menu/pizza/' + pizza[3]) }}"
						alt="{{ pizza[1] + 'Image'}}"
					>
					<p style="margin-bottom: 0">{{ pizza[1] }}</p>
					<p style="margin-top: 0">{{ '$' + pizza[2] }}</p>

					<a href="">
						<button class="add-to-order">ADD TO ORDER</button>
					</a>
				</div>
				{% endfor %}
			</div>
			<!-- menu grid end -->
		</main>
	</body>
</html>
