<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Donimo's</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<!-- header (navbar) start -->
		<header>
			<nav class="navbar">
				<a href="{{ url_for('main') }}">PIZZAS</a>
				<a href="{{ url_for('snacks') }}">SNACKS</a>
				<a href="{{ url_for('drinks') }}">DRINKS</a>
				<a href="{{ url_for('customize') }}">CUSTOMIZE PIZZA</a>
			</nav>
		</header>
		<!-- header (navbar) end -->
		<main>
			<div class="parent-grid">
				<!-- menu grid start -->
				<div>
					<h1>Pizzas</h1>
					<div class="grid_2-3">
						{% for pizza in data %}
						<div class="item-pizza">
							<img
								src="{{ url_for('static', filename='images/menu/pizza/' + pizza[3]) }}"
								alt="{{ pizza[1] + 'Image'}}"
							>
							<p style="margin-bottom: 0">{{ pizza[1] }}</p>
							<p style="margin-top: 0">{{ '$' + pizza[2] }}</p>

							<a href="">
								<button class="add-to-order">ADD TO ORDER</button>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- menu grid end -->
				<!-- order grid start -->
				<div style="background-color: black"></div>
				<!-- order grid end -->
			</div>
		</main>
		<footer>
			<div class="grid_1-1">
				<div>
					<p>Copyright (c) 2026 James (Juyoung) Park.<br>All rights reserved.</p>

					<p>
						"Domino's" is an intellectual property of "Domino's Pizza, Inc."<br>The
						creator of the program is not affiliated/associated with Domino's.
					</p>
				</div>
				<div>
					<p>
						Source Code is available at:
						<a href="https://github.com/sleepywndud/pizza" target="_blank">GitHub</a>
					</p>
				</div>
			</div>
		</footer>
	</body>
</html>
