<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Babo Bobo's Pizzaria | Introduction</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<!-- header (navbar) start -->
		<header>
			<nav class="navbar">
				<a href="{{ url_for('search') }}">
					<img
						src="{{ url_for('static', filename='images/search.png') }}"
						alt=""
						style="width: 32px"
					>
				</a>
				<a href="{{ url_for('main') }}">PIZZAS</a>
				<a href="{{ url_for('snacks') }}">SNACKS</a>
				<a href="{{ url_for('drinks') }}">DRINKS</a>
				<a href="{{ url_for('customize') }}">CUSTOMIZE PIZZA</a>
				<a href="{{ url_for('user_manual') }}" class="nav-help">
					<img
						src="{{ url_for('static', filename='images/help.png') }}"
						alt=""
						style="width: 32px"
					>
				</a>
			</nav>
			<nav class="navbar">
				<h2 class="introduction">Start by clicking the links above ⬆️</h2>
			</nav>
		</header>
		<!-- header (navbar) end -->
		<main>
			<div class="parent-container">
				<h1>Welcome!</h1>
				<div class="line-divider"></div>

				<p>Welcome to the website!</p>
				<p>
					This website is created by Juyoung (James) Park as a L2 Software Development
					Internal Project.
				</p>
				<p>Using this program, you can order some pizza!</p>

				<b style="color: var(--oh-no)"
					>This page can be reopened by clicking the
					<a href="{{ url_for('user_manual') }}" class="nav-help">?</a> button in the
					navbar.</b
				>

				<div class="divider"></div>

				<h2>For the User</h2>
				<div class="line-divider"></div>

				<h3>Navbar</h3>
				<p>
					Users can navigate around the website by using the links located on the blue bar
					on the <b>top of the page</b>.
				</p>

				<div class="smalldivider"></div>
				<h3>Cart</h3>
				<p>
					Each page has different items that the user can add to their cart. <br>
					The cart can be located on the <b>right hand side of the page</b>.
				</p>
				<p>
					The quantity of items in the cart can be modified by using the
					<b>number input</b> like this -->
					<input type="number" style="width: 64px" placeholder="EXAMPLE NUMBER INPUT">
					<br>
					Alternatively, you can enter your own number into the number input.
				</p>
				<p>
					An item in the cart can be removed by clicking the blue 'x' button next to its
					price like this --> <a class="order-item-remove-btn">x</a>
				</p>

				<div class="smalldivider"></div>
				<h3>Voucher</h3>
				<p>
					A voucher code can be entered by typing the voucher code on the right hand side
					of the page inside the designated box that looks like the following:
				</p>
				<form name="voucher_code" style="width: 256px">
					<input type="text" name="voucher_code" placeholder="ENTER VOUCHER CODE">
				</form>
				<p>
					<b
						>Please note that the only available codes are the following: <br>
						- "HELLOWORLD" (20% Discount) <br>
						- "FREEPIZZA" (100% Discount)
					</b>
				</p>
				<p>
					They should be case-sensitive. Do not include the quotation marks as part of the
					voucher code.
				</p>
				<p>
					Then, click the 'SUBMIT' button to submit the voucher code, and apply the
					discount. This is found right below the section where you enter your voucher
					code. <br>
					The button looks like the following:
				</p>
				<form name="voucher_code" style="text-align: left; margin-top: -20px">
					<button type="submit" name="voucher_code">SUBMIT</button>
				</form>

				<div class="smalldivider"></div>
				<h3>Pizza Customization</h3>
				<p>In the 'CUSTOMIZE' page (on navbar), users can customize their pizzas.</p>
				<p>
					They can add an ingredient onto the base dough by clicking the following button:
					<button class="add-ingredient-to-order">+</button>
				</p>
				<p>
					Once the ingredient is added, it should be visible under the 'Preview' section.
				</p>
				<b>PLEASE NOTE THAT: you can scroll down for more ingredients!</b>
				<p>
					After adding as many ingredients as desired, click theblue 'ADD TO CART' button
					to finalize the pizza and add it to the cart. <br>
					The button looks like the following:
				</p>
				<button class="add-to-order" style="margin-top: 16px; margin-bottom: 16px">
					Add to Cart
				</button>
				<b>NOTE: The ingredients cannot be changed once added to the cart.</b>
				<p>After adding to the cart, 'Custom Pizza' should be visible in the cart.</p>

				<div class="smalldivider"></div>
				<h3>Checkout</h3>
				<p>Clicking the checkout button takes you to a page to review your order.</p>

				<div class="divider"></div>
				<h2>Help</h2>
				<div class="line-divider"></div>
				<p>Still require assistance?</p>
				<p>Please email <b>juyoung.parkk8@gmail.com</b>.</p>
			</div>
		</main>
		<!-- footer start -->
		<div class="divider"></div>
		<footer>
			<div class="grid_3-1_1to1ratio">
				<div style="text-align: center">
					<img
						src="{{ url_for('static', filename='images/logo.png') }}"
						alt="logo"
						style="width: 50%"
					>
				</div>
				<div>
					<p>Copyright (c) 2026 James (Juyoung) Park.<br>All rights reserved.</p>

					<p>
						"Domino's" is an intellectual property of "Domino's Pizza, Inc."<br>The
						creator of the program is not affiliated/associated with Domino's.
					</p>
					<p>
						Image on the left is kindly drawn by
						<a href="https://github.com/ihategazami" target="_blank">Lucas Kang</a>!
					</p>
					<p>* Images of pizzas, snacks, and drinks are generated by AI.</p>
				</div>
				<div>
					<p>
						Source Code is available at:
						<a href="https://github.com/sleepywndud/pizza" target="_blank">GitHub</a>
					</p>
				</div>
			</div>
		</footer>
		<!-- footer end -->
	</body>
</html>
