<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Babo Bobo's Pizzaria | Search</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<!-- header (navbar) start -->
		<header>
			<nav class="navbar">
				<a href="{{ url_for('search') }}">
					<img
						src="{{ url_for('static', filename='images/search.png') }}"
						alt=""
						style="width: 32px"
					>
				</a>
				<a href="{{ url_for('main') }}">PIZZAS</a>
				<a href="{{ url_for('snacks') }}">SNACKS</a>
				<a href="{{ url_for('drinks') }}">DRINKS</a>
				<a href="{{ url_for('customize') }}">CUSTOMIZE PIZZA</a>
				<a href="{{ url_for('user_manual') }}" class="nav-help">
					<img
						src="{{ url_for('static', filename='images/help.png') }}"
						alt=""
						style="width: 32px"
					>
				</a>
			</nav>
		</header>
		<!-- header (navbar) end -->
		<main>
			<div class="parent-grid">
				<!-- menu grid start -->
				<div class="menu-section">
					<h1>Search Items</h1>
					<div class="line-divider"></div>
					<form method="POST" name="search_bar">
						<input
							type="text"
							name="search_bar"
							placeholder="ENTER ITEM NAME"
							value="{{ query or '' }}"
						>
						<button type="submit" name="search_bar">SEARCH</button>

						<p>Sort by:</p>

						<!-- prettier-ignore -->
						<select name="sort" id="sort" onchange="form.submit()" style="margin-top: 0;">
							<!-- unfortunately my formatter (prettier) changes the -->
							<!-- functionality of this code by mistaking the {} blocks -->
							<!-- this <select> block has been force-ignored -->
							<option value="price-ascending" {% if sort_by=='price-ascending' %}selected{% endif %}>PRICE (LOW TO HIGH)</option>
							<option value="price-descending" {% if sort_by=='price-descending' %}selected{% endif %}>PRICE (HIGH TO LOW)</option>
							<option value="rating-ascending" {% if sort_by=='rating-ascending' %}selected{% endif %}>RATING (LOW TO HIGH)</option>
							<option value="rating-descending" {% if sort_by=='rating-descending' %}selected{% endif %}>RATING (HIGH TO LOW)</option>
						</select>
						<div class="smalldivider"></div>
					</form>

					<h2>Search Results</h2>
					<div class="line-divider"></div>

					<div class="grid_2-3">
						{% for item in results %}
						<div class="item-pizza">
							<img
								src="{{ url_for('static', filename='images/menu/' + item[3]) }}"
								alt="{{ item[1] + 'Image' }}"
							>
							<p style="margin-bottom: 0">{{ item[1] }}</p>
							<p style="margin-top: 0">{{ '$' + item[2] }}</p>

							<p style="margin-top: 0">★ {{ item[4] }}</p>

							<a href="{{ url_for('add_to_order', name=item[1]) }}" class="add-to-order"
								>ADD TO ORDER</a
							>
						</div>
						{% else %} {% if query %}
						<p>No "{{ query }}" found.</p>
						{% endif %} {% endfor %}
						<div class="smalldivider"></div>
					</div>
				</div>
				<!-- menu grid end -->
				<!-- order grid start -->
				<div class="order-section">
					<div style="padding: 35px">
						<h2>Apply Voucher</h2>
						<div class="line-divider"></div>
						<form method="POST" name="voucher_code">
							<input type="text" name="voucher_code" placeholder="ENTER VOUCHER CODE">
							<button type="submit" name="voucher_code">SUBMIT</button>
						</form>
						{% if errormessage %}
						<p style="color: var(--oh-no)">{{ errormessage }}</p>
						{% endif %}

						<h2>Order Summary</h2>
						<div class="line-divider"></div>
						<!-- order box start -->
						<div class="order-list">
							<!-- uses a for loop to print everything that's in the db -->
							{% for order in orders %}
							<!-- displays the name (col1), price (col2), and quantity (col3) of the item added to cart -->
							<div class="order-item">
								<div class="grid_order-item">
									<!-- <p>{{ order[3] }}x {{ order[1] }}</p> -->
									<div style="text-align: left">
										<form
											action="{{ url_for('update_quantity', item_id=order[0]) }}"
											method="POST"
										>
											<!-- uses form to pass numberinput value to the db -->
											<input
												type="number"
												name="quantity"
												value="{{ order[3] }}"
												min="0"
												onchange="form.submit()"
											>
										</form>
									</div>
									<p style="text-align: center">{{ order[1] }}</p>
									<p style="text-align: right">
										<!-- formats the price like 'quantity * price', and rounds to 2dp -->
										${{ "%.2f"|format(order[2]|float * order[3]|int) }}
									</p>
									<a
										href="{{ url_for('remove_from_cart', item_id=order[0]) }}"
										class="order-item-remove-btn"
										>x</a
									>
								</div>
							</div>
							{% endfor %} {% if voucher %}
							<div class="grid_2-1">
								<p>Subtotal</p>
								<p style="text-align: right">${{ total_cost }}</p>
							</div>
							<div class="order-item">
								<div class="grid_order-item">
									<p style="text-align: left; white-space: nowrap">
										Discount ({{ voucher[1] }}%)
									</p>
									<div></div>
									<p style="text-align: right">
										-${{ "%.2f"|format(total_cost - discounted_total) }}
									</p>
									<a
										href="{{ url_for('remove_voucher_route') }}"
										class="order-item-remove-btn"
										>x</a
									>
								</div>
							</div>
							<div class="grid_2-1">
								<p>Total</p>
								<p style="text-align: right">
									${{ "%.2f"|format(discounted_total) }}
								</p>
							</div>
							{% else %}
							<div class="grid_2-1">
								<p>Total</p>
								<p style="text-align: right">${{ total_cost }}</p>
							</div>
							{% endif %}
						</div>
						<!-- order box end -->
						<p>
							* Maximum amount of a single item that can be ordered online is 100. If
							you wish to order more, please call the store.
						</p>
						<a href="{{ url_for('checkout') }}" class="checkout-link checkout-btn"
							>CHECKOUT</a
						>
					</div>
				</div>
				<!-- order grid end -->
			</div>
		</main>
		<!-- footer start -->
		<footer>
			<div class="grid_3-1_1to1ratio">
				<div style="text-align: center">
					<img
						src="{{ url_for('static', filename='images/logo.png') }}"
						alt="logo"
						style="width: 50%"
					>
				</div>
				<div>
					<p>Copyright (c) 2026 James (Juyoung) Park.<br>All rights reserved.</p>

					<p>
						"Domino's" is an intellectual property of "Domino's Pizza, Inc."<br>The
						creator of the program is not affiliated/associated with Domino's.
					</p>
					<p>
						Image on the left is kindly drawn by
						<a href="https://github.com/ihategazami" target="_blank">Lucas Kang</a>!
					</p>
					<p>* Images of pizzas, snacks, and drinks are generated by AI.</p>
				</div>
				<div>
					<p>
						Source Code is available at:
						<a href="https://github.com/sleepywndud/pizza" target="_blank">GitHub</a>
					</p>
				</div>
			</div>
		</footer>
		<!-- footer end -->
	</body>
</html>
