<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Donimo's</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<!-- header (navbar) start -->
		<header>
			<nav class="navbar">
				<a href="{{ url_for('main') }}">PIZZAS</a>
				<a href="{{ url_for('snacks') }}">SNACKS</a>
				<a href="{{ url_for('drinks') }}">DRINKS</a>
				<a href="{{ url_for('customize') }}">CUSTOMIZE PIZZA</a>
			</nav>
		</header>
		<!-- header (navbar) end -->
		<main>
			<div class="parent-grid">
				<!-- menu grid start -->
				<div class="menu-section">
					<h2>Snacks</h2>
					<div id="line-divider"></div>
					<div class="grid_2-3">
						<!-- uses for loop to print however many items that are on the db -->
						{% for snack in data %}
						<div class="item-pizza">
							<img
								src="{{ url_for('static', filename='images/menu/snacks/' + snack[3]) }}"
								alt="{{ snack[1] + ' Image'}}"
							>
							<p style="margin-bottom: 0">{{ snack[1] }}</p>
							<!-- displays the "$" + the snack's cost -->
							<p style="margin-top: 0">{{ '$' + snack[2] }}</p>

							<a href="{{ url_for('add_to_order', name=snack[1]) }}">
								<button class="add-to-order">ADD TO ORDER</button>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- menu grid end -->
				<!-- order grid start -->
				<div class="order-section">
					<div style="padding: 35px">
						<h2>Apply Voucher</h2>
						<div id="line-divider"></div>
						<form method="POST" name="voucher_code">
							<input type="text" name="voucher_code" placeholder="ENTER VOUCHER CODE">
							<button type="submit" name="voucher_code">SUBMIT</button>
						</form>

						<h2>Order Summary</h2>
						<div id="line-divider"></div>
						<!-- order box start -->
						<div class="order-list">
							<!-- uses a for loop to print everything that's in the db -->
							{% for order in orders %}
							<!-- displays the name (col1), price (col2), and quantity (col3) of the item added to cart -->
							<div class="order-item">
								<div class="grid_3-1_1to1ratio">
									<!-- <p>{{ order[3] }}x {{ order[1] }}</p> -->
									<div style="text-align: left">
										<form
											action="{{ url_for('update_quantity', item_id=order[0]) }}"
											method="POST"
										>
											<!-- uses form to pass numberinput value to the db -->
											<input
												type="number"
												name="quantity"
												class="quantitymodify"
												value="{{ order[3] }}"
												min="0"
												onchange="this.form.submit()"
											>
										</form>
									</div>
									<p style="text-align: center">{{ order[1] }}</p>
									<p style="text-align: right">
										<!-- formats the price like 'quantity * price', and rounds to 2dp -->
										${{ "%.2f"|format(order[2]|float * order[3]|int) }}
									</p>
								</div>
							</div>
							{% endfor %}
							<div class="grid_2-1">
								<p>Total</p>
								<p style="text-align: right">${{ total_cost }}</p>
							</div>
						</div>
						<!-- order box end -->
						<p>
							* Maximum amount of pizzas you can order online is 100. If you wish to
							order more, please call the store.
						</p>
						<form method="POST" name="checkout">
							<button type="submit" name="checkout">CHECKOUT</button>
						</form>
					</div>
				</div>
				<!-- order grid end -->
			</div>
		</main>
		<!-- footer start -->
		<footer>
			<div class="grid_3-1_1to1ratio">
				<div style="text-align: center">
					<img
						src="{{ url_for('static', filename='images/logo.png') }}"
						alt="logo"
						width="50%"
					>
				</div>
				<div>
					<p>Copyright (c) 2026 James (Juyoung) Park.<br>All rights reserved.</p>

					<p>
						"Domino's" is an intellectual property of "Domino's Pizza, Inc."<br>The
						creator of the program is not affiliated/associated with Domino's.
					</p>
					<p>
						Image on the left is kindly drawn by
						<a href="https://github.com/ihategazami" target="_blank">Lucas Kang</a>!
					</p>
					<p>* Images of pizzas, snacks, and drinks are generated by AI.</p>
				</div>
				<div>
					<p>
						Source Code is available at:
						<a href="https://github.com/sleepywndud/pizza" target="_blank">GitHub</a>
					</p>
				</div>
			</div>
		</footer>
		<!-- footer end -->
	</body>
</html>
